* text=auto !eol
img/clk.png -text
img/fmax.png -text
img/full.png -text
img/modeling.png -text
img/rs-inst.png -text
img/rs-inst1.png -text
/lab1zobkov33501_3.pdf -text
/labtemplatezobkov33501_3.pdf -text
