* text=auto !eol
img/clk.png -text
img/fmax.png -text
img/full.png -text
img/modeling.png -text
img/rs-inst.png -text
img/rs-inst1.png -text
/labtemplatezobkov33501_3.pdf -text
sty/PSCyr/pscyr0.4d.zip -text
sty/biblatex-gost-dev-03-13-16/biblatex-gost-dev.zip -text
